header {
	height: 100vh;
	overflow: hidden;
}

.bg {
	background-image: url('../../assets/bg.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
	padding-top: 7rem;
	text-align: center;
	height: 100%;
	position: relative;
}

.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 3rem;
}

.header__socials::after {
	content: '';
	width: 1px;
	height: 2rem;
	background: var(--primary);
}

.profile {
	background: linear-gradient(var(--primary), transparent);
	background-color: #FFFFFF;
	width: 22rem;
	/*height: 30rem;*/
	position: absolute;
	left: calc(50% - 11rem);
	margin-top: 4rem;
	border-radius: 12rem 12rem 0 0;
	overflow: hidden;
	/*padding: 5rem 1.5rem 1.5rem 1.5rem;*/
}

.profile__img {
	margin-top: -5rem;
}

.LazyLoad {
  filter: blur(10px);
  transition: all 1s ease-in-out;
}

.is-visible {
  filter: blur(0);
}


@media screen and (max-width:  600px) {
	header {
		height: 100vh;
	}

	.header__socials {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap:  1rem;
		padding-top: 1rem;
		position: unset;
		bottom: 0;
	}

	.header__socials::after {
		display: none;
	}
	.profile {
		margin-top: 1rem;
	}
	
	.profile__img {
		margin-top: 0;
	}
}





